*{
    padding: 0px;
    margin: 0px;
}
.container{
    border: 4px;
    border-color: grey;
    border-style: solid;
    margin: 100px;
}
.col{
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: aqua;
    height: 100px;
    width: 963px;
    position: absolute;
}
.photo{
    display: flex;
    height: 100px;
    width: 100px;
    padding: 50px;
    position: absolute;
}
.header{
    display: flex;
    margin: 40px;
    margin-top: 150px;
    position: absolute;
}

.location-icon{
    display: flex;
    margin-top: 200px;
    margin-left: 40px;
    height: 25px;
    font-family: cursive;
}
.titles{
    margin-top: 30px;
    margin-left: 40px;
}
.description{
    margin-top: 10px;
    margin-left: 40px;
}
.gear{
    display: flex;
    margin-top: 15px;
    margin-left: 45px;
    margin-bottom: 15px;
    height: 20px;
    width: 20px;
    position: absolute;
}
.profile{
    display: flex;
    font-family: cursive;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 75px;
}